@font-face {
    font-family: 'milo_ottext_italic';
    src: url('miloot-textita-webfont.eot');
    src: url('miloot-textita-webfont.eot?#iefix') format('embedded-opentype'),
    url('miloot-textita-webfont.woff') format('woff'),
    url('miloot-textita-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'milo_ottext';
    src: url('miloot-text-webfont.eot');
    src: url('miloot-text-webfont.eot?#iefix') format('embedded-opentype'),
    url('miloot-text-webfont.woff') format('woff'),
    url('miloot-text-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'milo_ottext_italic';
    src: url('miloot-textita_2-webfont.eot');
    src: url('miloot-textita_2-webfont.eot?#iefix') format('embedded-opentype'),
    url('miloot-textita_2-webfont.woff') format('woff'),
    url('miloot-textita_2-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'milo_ottext';
    src: url('miloot-text_2-webfont.eot');
    src: url('miloot-text_2-webfont.eot?#iefix') format('embedded-opentype'),
    url('miloot-text_2-webfont.woff') format('woff'),
    url('miloot-text_2-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'milo_otbold';
    src: url('miloot-bold-webfont.eot');
    src: url('miloot-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('miloot-bold-webfont.woff') format('woff'),
    url('miloot-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'milo_otbold_italic';
    src: url('miloot-boldita_2-webfont.eot');
    src: url('miloot-boldita_2-webfont.eot?#iefix') format('embedded-opentype'),
    url('miloot-boldita_2-webfont.woff') format('woff'),
    url('miloot-boldita_2-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'milo_otbold_italic';
    src: url('miloot-boldita-webfont.eot');
    src: url('miloot-boldita-webfont.eot?#iefix') format('embedded-opentype'),
    url('miloot-boldita-webfont.woff') format('woff'),
    url('miloot-boldita-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'milo_otbold';
    src: url('miloot-bold_2-webfont.eot');
    src: url('miloot-bold_2-webfont.eot?#iefix') format('embedded-opentype'),
    url('miloot-bold_2-webfont.woff') format('woff'),
    url('miloot-bold_2-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'milootregular';
    src: url('miloot-webfont.eot');
    src: url('miloot-webfont.eot?#iefix') format('embedded-opentype'),
    url('miloot-webfont.woff') format('woff'),
    url('miloot-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'milootregular';
    src: url('miloot_2-webfont.eot');
    src: url('miloot_2-webfont.eot?#iefix') format('embedded-opentype'),
    url('miloot_2-webfont.woff') format('woff'),
    url('miloot_2-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'trebuchet_msregular';
    src: url('trebuchet_ms-webfont.eot');
    src: url('trebuchet_ms-webfont.eot?#iefix') format('embedded-opentype'),
    url('trebuchet_ms-webfont.woff') format('woff'),
    url('trebuchet_ms-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'trebuchet_msitalic';
    src: url('trebuchet_ms_italic-webfont.eot');
    src: url('trebuchet_ms_italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('trebuchet_ms_italic-webfont.woff') format('woff'),
    url('trebuchet_ms_italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'trebuchet_msbold';
    src: url('trebuchet_ms_bold-webfont.eot');
    src: url('trebuchet_ms_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('trebuchet_ms_bold-webfont.woff') format('woff'),
    url('trebuchet_ms_bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'trebuchet_msbold_italic';
    src: url('trebuchet_ms_bold_italic-webfont.eot');
    src: url('trebuchet_ms_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('trebuchet_ms_bold_italic-webfont.woff') format('woff'),
    url('trebuchet_ms_bold_italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'milo_otextrabold_italic';
    src: url('miloot-xboldita-webfont.eot');
    src: url('miloot-xboldita-webfont.eot?#iefix') format('embedded-opentype'),
    url('miloot-xboldita-webfont.woff') format('woff'),
    url('miloot-xboldita-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'milo_otextrabold_italic';
    src: url('miloot-xboldita_2-webfont.eot');
    src: url('miloot-xboldita_2-webfont.eot?#iefix') format('embedded-opentype'),
    url('miloot-xboldita_2-webfont.woff') format('woff'),
    url('miloot-xboldita_2-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'milo_otextrabold';
    src: url('miloot-xbold-webfont.eot');
    src: url('miloot-xbold-webfont.eot?#iefix') format('embedded-opentype'),
    url('miloot-xbold-webfont.woff') format('woff'),
    url('miloot-xbold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'milo_otextrabold';
    src: url('miloot-xbold_2-webfont.eot');
    src: url('miloot-xbold_2-webfont.eot?#iefix') format('embedded-opentype'),
    url('miloot-xbold_2-webfont.woff') format('woff'),
    url('miloot-xbold_2-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueBold';
    src: url('helveticaneue-bold.eot');
    src: url('helveticaneue-bold.eot') format('embedded-opentype'),
    url('helveticaneue-bold.woff2') format('woff2'),
    url('helveticaneue-bold.woff') format('woff'),
    url('helveticaneue-bold.ttf') format('truetype'),
    url('helveticaneue-bold.svg#HelveticaNeueBold') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueLTCom65Medium';
    src: url('helveticaneueltcom-md.eot');
    src: url('helveticaneueltcom-md.eot') format('embedded-opentype'),
    url('helveticaneueltcom-md.woff2') format('woff2'),
    url('helveticaneueltcom-md.woff') format('woff'),
    url('helveticaneueltcom-md.ttf') format('truetype'),
    url('helveticaneueltcom-md.svg#HelveticaNeueLTCom65Medium') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueCondensedBlack';
    src: url('helveticaneue-condensedblack.eot');
    src: url('helveticaneue-condensedblack.eot') format('embedded-opentype'),
    url('helveticaneue-condensedblack.woff2') format('woff2'),
    url('helveticaneue-condensedblack.woff') format('woff'),
    url('helveticaneue-condensedblack.ttf') format('truetype'),
    url('helveticaneue-condensedblack.svg#HelveticaNeueCondensedBlack') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueRegular';
    src: url('helveticaneue.eot');
    src: url('helveticaneue.eot') format('embedded-opentype'),
    url('helveticaneue.woff2') format('woff2'),
    url('helveticaneue.woff') format('woff'),
    url('helveticaneue.ttf') format('truetype'),
    url('helveticaneue.svg#HelveticaNeueRegular') format('svg');
}
