
#header .top-bar        { width: 100%; background-color: #100c01; }
#header .tel-content    { float: left; width: 160px; }
#header .tel-content .tel-img   { float: left; width: 14px; height: 23px; margin: 13px 12px 14px 0; }
#header .tel-content .tel-wr    { float: left; margin: 13px 0 14px 0; display: block; color: #fff; font: 20px/23px 'milo_ottext', 'Ubuntu'; }
#header .mail-content           { float: left; width: 190px; margin-left: 15px; }
#header .mail-content .mail-img { float: left; width: 20px; height: 16px; margin: 16px 12px 19px 0; }
#header .mail-content .mail-wr  { float: left; margin: 13px 0 14px 0; display: block; color: #fff; font: 18px/23px 'milo_ottext', 'Ubuntu'; }
#header .member-content         { float: right; width: 205px; height: 26px; margin-top: 12px; }
#header .member-content .sign_up { float: left; width: 90px; }
#header .member-content .sign_in { float: right; width: 95px; }
#header .member-content .write   { float: left; display: block; color: #fff; font: 14px/23px 'milo_ottext', 'Ubuntu'; }
#header .member-content .img     { float: left; display: block; color: #fff; font: 14px/23px 'milo_ottext', 'Ubuntu'; margin-left: 10px; }

#header .bottom-bar     { width: 100%; background-color: #ffffff; }
#header .logo-content   { width: 284px; height: 92px; float: left; margin: 22px 10px 18px 5px; position: relative; }
#header .logo-content .logo { width: 284px; height: 92px; position: absolute; top: 0; left: 0; z-index: 2; }
#header .logo-content .global-logo-shadow { position: absolute; top: 3px; right: -91px; z-index: 1; }
#header .menu { float: right; }
#header .menu ul { float: left; margin-top: 40px; }
#header .menu ul li { float: left; }
#header .menu ul li a { float: left; padding: 4px 8px; margin: 0 10px; color: #2d2d2d; font: 18px/23px 'milo_ottext', 'Ubuntu'; border-radius: 5px; }
#header .menu ul li a:hover,
#header .menu ul li a.active { background-color: #d53a3a; color: #fff; transition: all 0.4s ease-in-out; }

@media (max-width: 1004px) {
    #header .menu    { width: 100%; }
    #header .menu .menu-icon { float: right; margin-top: 40px; }
    #header .menu ul { display: none; position: absolute; top: 132px; width: 300%; right: 0; background-color: #fff; margin-top: 0; z-index: 2; border-top: 1px solid #d53a3a;}
    #header .menu ul.active { display: block; }
    #header .menu ul li { width: 100%; border-bottom: 1px solid #d53a3a; padding: 5px 0; }
    #header .menu ul li a { width: 98%; }
}


#contactContainer { background-color: #fff; }
#contactContainer .title { border-top: 1px solid #d53a3a; border-bottom: 1px solid #d53a3a; }
#contactContainer .title .img { margin: 16px 12px 16px 0; float: left; }
#contactContainer .title h3   { float: left; margin-top: 22px; color: #494949; font: 22px 'Ubuntu'; }

#contactContainer #registerForm { margin: 60px 0; padding: 30px; }
#registerForm .row .col-md-12       { margin-bottom: 15px; }
#registerForm .row .col-md-12 .row  { margin-bottom: 5px; }
#registerForm .row label    { color: #494949; font: 18px 'Ubuntu'; margin-bottom: 5px; }
#registerForm .row input    { border: 1px solid #d0d0d0; border-radius: 5px; padding: 4px 6px; width: 100%; }
#registerForm .row textarea { height: auto; min-height: 120px; border: 1px solid #d0d0d0; border-radius: 5px; padding: 4px 6px; width: 100%; }
#registerForm .row input.submit-btn { background-color: #fff; margin-left: -15px; margin-top: 15px; }
#registerForm .row input.submit-btn.shake { color: #fff; }

#contactContainer .contact-content { margin: 60px 0 0 0; padding: 30px; float: left; }
#contactContainer .contact-content h4 { color: #494949; font: 22px 'Ubuntu'; margin-bottom: 20px; }
#contactContainer .contact-content p  { color: #494949; font: 15px 'Ubuntu'; margin-bottom: 40px; }
#contactContainer .contact-content .adress      { float: left; }
#contactContainer .contact-content .adress .img { float: left; width: 14%; }
#contactContainer .contact-content .adress p    { float: left; font-size: 14px; width: 86%; margin-bottom: 30px; }
#contactContainer .contact-content .adress p a  { float: left; color: #494949; font: 15px 'Ubuntu'; }

.map { float: left; width: 100%; height: 150px; }

.about    { padding: 60px 15px; }
.about h3 { color: #494949; font: 23px 'HelveticaNeueBold', 'Ubuntu'; }
.about p  { color: #494949; font: 15px 'HelveticaNeueRegular', 'Ubuntu'; }

.posr { position: relative; }
#siteCtr .posr span { position: absolute; top: 2px; left: 8px; font-family: "Helvetica Neue", Arial, sans-serif;  font-size: 16px; }
#siteCtr .posr input { text-indent: 53px; }

#securityCtr .row input { padding: 6px; }



/* tab menu */
#tabMenu { width: 100%; padding-top: 34px; padding-right: 10px; }
#tabMenu .top-ribbon-bar,
#tabMenu .bottom-ribbon-bar { width: 100%; height: 50px; position: relative; float: left; background-clip: padding-box; background-image: linear-gradient(bottom, rgba(0,0,0,.19) -113.04%, rgba(255,255,255,.19) -13.04%); text-align: center; }
#tabMenu .top-ribbon-bar    { background-color: #2b3553; border-top-left-radius: 10px; border-top-right-radius: 10px; }
#tabMenu .bottom-ribbon-bar { background-color: #d53939; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; }
#tabMenu .top-ribbon-bar a,
#tabMenu .bottom-ribbon-bar a { color: #fff; font: 18px 'HelveticaNeueBold', 'Ubuntu'; display: inline-block; line-height: 50px; padding-left: 35px; }
#tabMenu .top-ribbon-bar a { background: url(../panel/img/tab-menu-left-sprite-2.png) no-repeat; background-position: left -4px; }
#tabMenu .bottom-ribbon-bar a { background: url(../panel/img/tab-menu-left-sprite-2.png) no-repeat; background-position: left -58px; }
#tabMenu .top-ribbon-bar span,
#tabMenu .bottom-ribbon-bar span { width: 7%; position: absolute; padding-bottom: 4.8%; display: block; background-size:cover; -webkit-background-size:cover; -moz-background-size:cover; -ms-background-size:cover; -o-background-size:cover; }
#tabMenu .top-ribbon-bar .left-part  { left: 0; bottom: -10px; background-image: url(../panel/img/tab-menu-part-1.png); }
#tabMenu .top-ribbon-bar .right-part { right: 0; bottom: -10px; background-image: url(../panel/img/tab-menu-part-2.png); }
#tabMenu .bottom-ribbon-bar .left-part  { left: 0; top: -10px; background-image: url(../panel/img/tab-menu-part-3.png); }
#tabMenu .bottom-ribbon-bar .right-part { right: 0; top: -10px; background-image: url(../panel/img/tab-menu-part-4.png); }
#tabMenuList { width: 86%; margin-left: 7%; position: relative; }
#tabMenuList li   { width: 100%; float: left; }
#tabMenuList li a { width: 100%; float: left; padding: 7px 15px; background-color: #dedede; border-bottom: 1px solid #fff; }
#tabMenuList li:last-child a { border-bottom: none; }
#tabMenuList li a .wr { color: #373737; font: 14px/25px 'HelveticaNeueRegular', 'Ubuntu'; float: left; }
#tabMenuList li a .img        { background-image: url(../panel/img/tab-menu-left-sprite.png); float: left; }
#tabMenuList li a:hover,
#tabMenuList li a.active      { background-color: #fff; transition: all 0.2s ease-in-out; }
#tabMenuList li a:hover .wr   { color: #d53a3a; }
#tabMenuList li a:hover .img  { transition: all 0.2s ease-in-out; }
#tabMenuList li a.active .wr  { color: #d53a3a; font-family: 'HelveticaNeueBold', 'Ubuntu'; }
#tabMenuList li a.home .img        { width: 23px; height: 23px; display: block; margin: 2px 15px 1px 0; background-position: left top; }
#tabMenuList li a.home.active .img,
#tabMenuList li a.home:hover .img  { background-position: -27px top; }
#tabMenuList li a.user .img        { width: 26px; height: 26px; display: block; margin: 1px 12px 2px 0; background-position: left -25px; }
#tabMenuList li a.user.active .img,
#tabMenuList li a.user:hover .img  { background-position: -27px -25px; }
#tabMenuList li a.site .img        { width: 22px; height: 22px; display: block; margin: 1px 14px 2px 0; background-position: left -53px; }
#tabMenuList li a.site.active .img,
#tabMenuList li a.site:hover .img  { background-position: -27px -53px; }
#tabMenuList li a.bank .img        { width: 22px; height: 22px; display: block; margin: 1px 14px 2px 0; background-position: left -78px; }
#tabMenuList li a.bank.active .img,
#tabMenuList li a.bank:hover .img  { background-position: -27px -78px; }
#tabMenuList li a.statics .img     { width: 26px; height: 26px; display: block; margin: 1px 12px 2px 0; background-position: left -102px; }
#tabMenuList li a.statics.active .img,
#tabMenuList li a.statics:hover .img  { background-position: -27px -102px; }
#tabMenuList li a.pay .img         { width: 26px; height: 24px; display: block; margin: 2px 13px 3px 0; background-position: left -130px; }
#tabMenuList li a.pay.active .img,
#tabMenuList li a.pay:hover .img   { background-position: -27px -130px; }
#tabMenuList li a.help .img        { width: 22px; height: 22px; display: block; margin: 1px 14px 2px 0; background-position: left -156px; }
#tabMenuList li a.help.active .img,
#tabMenuList li a.help:hover .img  { background-position: -27px -156px; }
#tabMenuList li a.exit .img        { width: 20px; height: 20px; display: block; margin: 1px 16px 2px 0; background-position: left bottom; }
#tabMenuList li a.exit.active .img,
#tabMenuList li a.exit:hover .img  { background-position: -27px bottom; }












.m-t-25  { margin-top: 25px; }
.m-t-60  { margin-top: 60px; }
.mb10 { margin-bottom: 10px; }
.mr-15 { margin-right: -15px; }