#sliderContainer { width: 1000px; height: 370px;}
.slider { width: 1000px; overflow: hidden; position: relative; height: 370px;}
.slider ul.slider_liste li { width: 100%; float: left;  height: 370px; }
.slider ul.slider_liste li img { width: 100%; display: block; }

/* buton */
a.prev, a.next {
    width: 21px;
    height: 21px;
    position: absolute;
    bottom: 7px;
    background: url(../img/slider-arrow.png);
    text-align: center;
    z-index: 2;
}
a.prev { right: 31px }
a.next { right: 8px; background-position: right top; }
a.prev:hover, a.next:hover { opacity: 0.8 }